body {
  /* background-image: url('/static/我的课程.jpg');
  background-size: 100%; */
  background-color: #fafafa;
}

#left {
  width: 54.3vw;
  position: relative;
  left: 7.5vw;
  top: 1vw;
  float: left;
  padding: 0 2.5vw;
  background-color: white;
  padding-bottom: 2vw;
}

.xbq {
  position: relative;
  z-index: 1;
  cursor: default;
  top: 2.3vw;
  left: 0vw;
  font-weight: 700;
  font-size: 1vw;
  color: #535353;
  margin-bottom: 3.2vw
}

.xbq>div {
  width: 0.4vw;
  height: 1.2vw;
  position: absolute;
  left: -1.2vw;
  top: 0.1vw;
  background-color: #042b57;
}

#handoff {
  position: relative;
  text-align: center;
}

#hand0ff .col {
  position: relative;
}

#handoff span {
  font-size: 1.3vw;
  cursor: pointer;
  font-weight: 700;
  color: #535353;
}

/* #handoff span:hover+.handoff_hov {
  width: 60px;
} */

.handoff_hov {
  width: 0px;
  height: 0.3vw;
  background: black;
  margin: 0 auto;
  transition: 0.3s;

}

#handoff_line {
  height: 0.1vw;
  width: 100%;
  margin: 0 auto;
  background-color: #afaeaf;
}

.msg_row {
  position: relative;
  height: 2.7vw;
  border-bottom: 0.1vw solid #e9e9e9;
  color: #727272;
}

.msg_row span {
  font-size: 0.8vw;
  position: relative;
  left: 2.3vw;
  top: 0.5vw;
}

.card {
  border: 0;
}

.card-link {
  font-size: 14px;
  line-height: 25px;
  margin-top: 10px;
  background-color: #e9e9e9;
  transition: 0.3s;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
  margin-left: 2.4vw;
  color: #535353;
  font-weight: 700;
  font-size: 1.4vw;
}

#my_course {
  margin-top: 3vw;
  width: 54.4vw;
  position: relative;
  left: -2.6vw;
  margin-bottom: 7vw;
}


.course_line {
  width: 84%;
  height: 3vw;
  border: 0.1vw solid #778ca4;
  position: relative;
  left: 5.8vw;
  /* top: 0.4vw; */
  border-radius: 0.5vw;
  margin-top: 0.8vw;
  font-size: 0.9vw;
  line-height: 2.7vw;
  cursor: pointer;
}

.course_line1 {
  position: relative;
  left: 2vw;
}

.course_line2 {
  position: absolute;
  left: 31.5vw;
}


#right {
  width: 26.9vw;
  position: relative;
  right: 8.3vw;
  top: 1vw;
  float: right;
  padding: 0 2.5vw;
  padding-top: 2.4vw;
  overflow: hidden;
  background-color: white;
}

.right_line {
  position: absolute;
  left: -1.5vw;
  height: 0.1vw;
  width: 24.3vw;
  background-color: #dad9da;
}

.right_img {
  display: block;
  width: 17.5vw;
  height: 10vw;
  position: absolute;
  background: #e9e9e9;
  left: 2vw;
  top: 5vw;
  cursor: pointer;
}

.right_kuai {
  position: absolute;
  left: 2vw;
  top: 2.5vw;
  width: 0.7vw;
  height: 0.7vw;
  background-color: #05fcff;
}

.right_span1 {
  display: block;
  font-size: 0.8vw;
  position: absolute;
  left: 3.8vw;
  top: 2.2vw;
}

.right_span2 {
  display: block;
  font-size: 0.8vw;
  position: absolute;
  left: 3.8vw;
  bottom: 1.1vw;
}


#kuang{
  overflow-x: hidden;
  padding-bottom: 7vw;
}